.header-new {
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  background: transparent;
}

.header-new__container {
  max-width: 1720px;
}

.header-new__row {
  justify-content: space-between;
}

.header-new__phone {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  letter-spacing: .9px;
}

.header-new__iconMenu {
  display: flex;
  top: 0;
}

.header-new__iconMenu-inner {
  display: flex;
  align-items: center;
}

.header-new__iconMenu-text {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .9px;
  color: #fff;
}

.header-new__iconMenu span {
  top: 9px;
  background-color: #d09e45;
}

.header-new__iconMenu {
  flex: 0 0 25px;
  width: 25px;
  height: 20px;
}

.header-new__menu {
  // position: relative;
  width: 100%;
  margin: 0;
  padding: 35px;
  background-color: rgba(199, 160, 68, .95);
}

.header-new__menu-topBlock {
  justify-content: space-between;
  align-items: center;
}

.header-new__menu-phone {
  font-family: 'Fira Sans', sans-serif;
  font-size: 26px;
}

.header-new__menu-close {
  flex: 0 1 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/icons/close.svg');
}

.header-new__menu-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-new__menu__list {}

.header-new__menu-item {}

.header-new__menu-tem-link {
  font-weight: 700;
  color: #161820;
  line-height: 1.3;
  font-size: 46px !important;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: right;
  transition: all 0.8s;
}

// .header-new__menu-tem-link:hover {
//   border-bottom: 1px solid #fff;
//   transition: all 0.8s;
// }

.header-new__menu-soc-block-icon {
  align-items: center;
  margin: 10px 0;
}

.header-new__menu-soc-block-icon .soc-block-icon-link {
  margin-right: 15px;
}

.header-new__menu-soc-block-icon .soc-icon-1::before {
  width: 55px;
  height: 55px;
}

.header-new__menu-soc-block-icon .soc-icon-2::before {
  width: 55px;
  height: 33px;
}

.header-new__menu-soc-block-icon .soc-icon-3::before {
  width: 45px;
  height: 40px;
}

.header-new__menu-soc-block-icon .soc-icon-4::before {
  width: 55px;
  height: 55px;
}

.header__popup-link {
  // color: #fff;
  font-size: 30px;
  padding: 25px 45px;
  background: transparent;
  border: 1px solid #fff;
  margin-top: 25px;
}