//<Адаптив>===========================================================================================================================================
@media (max-width: 1280px) {
	.services__row {
		margin: 0 -10px;
	}

	.services__column {
		padding: 0 10px;
		margin-bottom: 20px;
	}
}

@media (max-width: 1120px) {
	._container {
		padding: 0 10px;
	}
}

@media (max-width: 1050px) {
	.menu {
		margin: 0 15px;
	}

	.menu__link {
		padding: 0;
	}

	.main-info__column {
		width: 73%;
	}
}

@media (max-width: 1024px) {
	.menu__link:hover {
		background: none;
		color: #fff;
	}

	.work-examples__column {
		flex: 0 1 50%;
	}
}

@media (max-width: 768px) {
	.header {
		padding: 10px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	.icon-menu {
		display: block;
	}

	.mob-menu li a {
		padding-bottom: 13px;
	}

	.header__menu {
		display: none;
	}

	.header__callback {
		margin-left: auto;
	}

	.header__callback p {
		display: none;
	}

	.footer__contacts-callback {
		margin-top: 0;
	}

	.services__row {
		margin: 0 -5px;
	}

	.services__column {
		flex: 0 1 50%;
		padding: 0 5px;
		margin-bottom: 10px;
	}

	.card__descp-subtitle {
		margin-bottom: 15px;
	}

	.card__descp-title {
		margin-bottom: 5px;
	}

	.card__descp {
		padding: 15px 10px 0px 15px;
	}

	.card {
		padding-bottom: 15px;
	}
}

@media (max-width: 630px) {
	.card__link {
		max-height: 150px;
	}
}

@media (max-width: 540px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s;
	}

	.footer__row {
		flex-wrap: wrap;
	}

	.footer .logo-icon {
		flex: 0 1 100%;
		text-align: center;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.footer__row .soc-block-icon {
		flex: 0 0 100%;
		justify-content: center;
		margin-bottom: 18px;
	}

	.footer__contacts {
		flex: 0 1 100%;
		text-align: center;
		margin: 0px auto;
	}

	.footer__row .header__callback a {
		margin-bottom: 10px;
	}

	.footer__row .header__callback {
		align-items: center;
	}

	.footer__contacts-callback {
		display: inline-flex;
	}
}

@media (max-width: 515px) {
	.work-examples__column {
		flex: 0 1 100%;
	}
}

@media (max-width: 480px) {}

@media (max-width: 414px) {
	.work-examples__btn {
		width: 100%;
	}

	.services__column {
		flex: 0 1 100%;
		padding: 0;
	}

	.card__link {
		max-height: 215px;
	}

	.card__btn {
		width: 100%;
	}
}

@media (max-width: 375px) {
	.header__logo {
		font-size: 16px;
		flex: 0 0 115px;
		height: 18px;
	}

	.header__callback {
		flex: 0 0 130px;
	}

	.icon-menu {
		margin-left: 10px;
	}
}

@media (max-width: 345px) {
	.card__link {
		max-height: 180px;
	}
}